@use "../util" as *;

.header {
    background: fixed;
    padding: rem(15);
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    @include breakpoint(large) {
        padding: 0 rem(100) 0 rem(100);
    }

    &__logo {

    }

    &__nav {

        button {
            border: none;
            background: transparent;

            @include breakpoint(large) {
                display: none;
            }
            
            img {
                max-width: 100%;
                height: auto;
            }
        }

        
        &--list {
            display: none;
            position: fixed;
            z-index: 1;
            padding-top: rem(70);
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background: rgba(0, 0, 0, 0.4);

            @include breakpoint(large) {
                display: block;
                position: relative;
                background: none;
                z-index: 0;
            }
            
            .modal-content{
                text-align: left;
                border-radius: rem(10);
                width: 80%;
                margin: auto;
                background: white;
                padding: rem(20);

                @include breakpoint(large) {
                    text-align: center;
                    border: none;
                    width: 100%;
                    background: none;
                    padding: 0;
                }
                
                ul {
                    list-style-type: none;
                    
                    @include breakpoint(large) {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }

                    
                    li {
                        border-bottom: 1px solid var(--darkGray);
                        
                        @include breakpoint(large) {
                            border-bottom: none;

                            &:first-child {
                                display: none;
                            }
                        }

                        &:first-child, &:last-child {
                            border-bottom: none;
                        }

                        a {
                        text-decoration: none;
                        padding: rem(16);
                        display: block;
                        color: var(--black);

                        
                        @include breakpoint(large) {
                            color: white;
                            padding: rem(20);
                        }
                        

                        &:last-child {
                            border-bottom: none;
                        }
                      }
                    }
                }

                  
            .close {
                color: black;
                float: right;
                font-size: rem(28);
                font-weight: bold;

                &:hover, &:focus {
                    color: #000;
                    text-decoration: none;
                    cursor: pointer;
                }
            }
    
          }

        }
    }
}

.main {
    margin: auto;
    width: 90%;
    padding-top: rem(190);

    
    @include breakpoint(large) {
        width: 50%;               
    }


    &__top {
        background: white;
        border-radius: rem(5);
        position: relative;
        padding: rem(20);
        text-align: center;

        &--image {
            position: absolute;
            top: -25px;
            left: 0;
            right: 0;
        }

        &--title {
            padding-top: rem(20);
            text-align: center;

            h1 {
                font-weight: 700;
            }

            p {
                padding: rem(15) rem(5) rem(15) rem(5);
                line-height: 1.6;
                color: var(--darkGray);
                font-weight: 400;
            }

        }

        &--buttons {
            display: flex;
            justify-content: center;
            align-items: center;

            
            @include breakpoint(large) {
                justify-content: space-between;       
            }

            :first-child {
                border: none;
                border-radius: rem(20);
                width: 60%;
                padding: rem(13);
                margin-right: rem(15);
                background: var(--moderateCyan);
                color: white;
                font-size: rem(18);
                font-weight: 700;
                flex-grow: 2;
                cursor: pointer;

                &:hover {
                    background: var(--darkCyan);
                }

                
                @include breakpoint(large) {
                    flex-grow: 0;
                    width: 40%;
                    padding: rem(20);
                    border-radius: rem(25);   
                }
            }

            :last-child {
                border: none;
                background: none;
                cursor: pointer;

                
                @include breakpoint(large) {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: silver;
                    border-radius: rem(30);
                    
                    &:hover {
                        opacity: 0.8;
                    }
                }

                img {
                    background: none;
                    width: 100%;
                    height: auto;
                    padding: 0;
                    margin: 0;
                }

                span {
                    display: none;

                    
                    @include breakpoint(large) {
                        display: block;
                        font-size: rem(18);
                        font-weight: 700;
                        padding-right: rem(20);
                        padding-left: rem(10);
                        color: var(--darkGray);
                    }
                }
            }

        }

        &--modal {
            display: none;
            position: fixed;
            z-index: 1;
            padding-top: rem(70);
            padding-bottom: rem(70);
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background: rgba(0, 0, 0, 0.4);

            &--content {
                background-color: white;
                width: 70%;
                margin: auto;
                padding: rem(20);
                border-radius: rem(15);
                text-align: end;

                button {
                    border: none;
                    background: none;
                    cursor: pointer;
                    padding: rem(10);

                    img {
                        width: rem(20);
                        height: rem(20);
                    }
                }
                
                .descript {
                    text-align: start;
                    margin-bottom: rem(25);
                    width: 100%;
                    margin: auto;

                    @include breakpoint(large) {
                        width: 90%;
                        padding: rem(20);
                    }


                    h2 {
                        margin-bottom: rem(25);
                        font-weight: 700;
                        
                        @include breakpoint(large) {
                            font-size: rem(30);
                        }
                    }

                    p {
                        color: var(--darkGray);
                        font-size: rem(18);
                        margin-bottom: rem(20);
                    }
                }

                form {
                    width: 100%;
                    margin: auto;

                    @include breakpoint(large) {
                        width: 90%;
                    }
                    
                    

                    .parts {
                        border: 1px solid;
                        border-color: var(--darkGray);
                        text-align: start;
                        margin-bottom: rem(20);
                        border-radius: rem(10);

                        .choose {
                            display: grid;
                            grid-template-areas: 
                            "btn h2 h2 h2"
                            "p p p p"
                            "left left left left";
                            align-items: center;

                            
                            @include breakpoint(large) {    
                                grid-template-areas: 
                                "btn h2 h2 em left"
                                "one p p p p";
                                justify-content: start;
                                padding: rem(30);
                                }


                            label {
                                grid-area: h2;
                                display: flex;
                                flex-direction: column;
                                font-weight: 700;
                                padding: rem(20) rem(20) rem(20) 0;

                                @include breakpoint(large) {
                                    font-size: rem(18);
                                    justify-content: center;
                                    align-items: center;
                                    flex-direction: row;
                                    padding: rem(20);
                                }

                                span {
                                    color: var(--moderateCyan);
                                    padding-top: rem(10);

                                    @include breakpoint(large) {
                                       padding-top: 0;
                                       padding-left: rem(30);
                                    }
                                }
                            }

                            #radio {
                                grid-area: btn;
                                width: rem(25);
                                height: rem(25);
                                align-self: center;
                                justify-self: center;
                                cursor: pointer;
                                

                                @include breakpoint(large) {
                                    grid-area: btn;
                                    margin-right: rem(20);
                                    justify-self: center;
                                    padding: rem(20);
                                    margin: auto;
                                }
                            }

                            p {
                                grid-area: p;
                                font-weight: rem(18);
                                padding: rem(10);
                                color: var(--darkGray);
                            }

                            .left {
                                grid-area: left;
                                display: flex;
                                justify-content: start;
                                align-items: center;
                                padding: rem(10);
                                
                                p {
                                    font-weight: 700;
                                    color: var(--black);
                                    font-size: rem(18);
                                    padding: 0;

                                    @include breakpoint(large) {
                                        font-size: rem(20);
                                    }
                                }

                                span {
                                    color: var(--darkGray);
                                    padding-left: rem(5);
                                    font-size: rem(15);
                                }

                            }
                            &:last-child {
                                opacity: 0.7;
                                
                                #radio {
                                    cursor: default;
                                    background: var(--darkGray);
                                }
                            }


                        }
                        .enterPledge {
                            border-top: 1px solid var(--darkGray);
                            padding: rem(10);
                            text-align: center;
                            display: none;

                            @include breakpoint(large) {
                                
                                justify-content: space-between;
                                align-items: center;
                                padding: rem(20);
                            }

                            p {
                                padding-bottom: rem(20);
                                color: var(--darkGray);

                                @include breakpoint(large) {
                                    font-size: rem(18);
                                    padding-bottom: rem(10);
                                }
                            }

                            .amount {
                                display: flex;
                                justify-content: center;
                                align-items: center;

                                @include breakpoint(large) {
                                    justify-content: end;
                                    width: 50%;
                                }
                                
                               input[type=number] {
                                border: 1px solid var(--darkGray);
                                border-radius: rem(30);
                                padding: rem(15);
                                font-weight: 700;
                                font-size: rem(18);
                                width: 50%;
                                margin-right: rem(15);

                                @include breakpoint(large) {
                                    width: 30%;
                                }

                                &::-webkit-inner-spin-button {
                                    opacity: 0;
                                }

                                &::-webkit-input-placeholder {
                                     color: var(--black);
                                     text-align: center;

                                    @include breakpoint(large) {
                                        text-align: start;
                                    }
                                }
                            }

                            input[type=button] {
                                border: none;
                                background: var(--moderateCyan);
                                border-radius: rem(30);
                                color: white;
                                padding: rem(15);
                                font-size: rem(18);
                                cursor: pointer;
                                width: 50%;

                                &:hover {
                                    background-color: var(--darkCyan);
                                }

                                @include breakpoint(large) {
                                    width: 30%;
                                }
                            }
                           }
                         }

                         .display {
                            display: block;
                    
                            @include breakpoint(large) {
                                display: flex;
                            }
                         }

                        }
                        
                        .active {
                            border: 2px solid var(--moderateCyan);
                        }
                    }
                }
            }
        }

   

    &__middle {
        background: white;
        margin-top: rem(20);
        padding: rem(30);
        border-radius: rem(5);
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        text-align: center;

        @include breakpoint(large) {
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            text-align: left;
        }

        &--money {
            padding: rem(15);
            
            @include breakpoint(large) {
                border-right: 1px solid var(--darkGray);
                margin-bottom: rem(20);
            }

            p {
                font-size: rem(30);
                font-weight: 700;
                padding-bottom: rem(5);
            }

            span {
                color: var(--darkGray);
                border-bottom: 1px solid var(--darkGray);
                padding-bottom: rem(15);

                @include breakpoint(large) {
                    border-bottom: none;
                    padding-bottom: 0;
                }
            }
        }

        &--people {
            padding: rem(15);
            border-bottom: 1px solid var(--darkGray);
            width: 50%;
            margin: auto;

            
            @include breakpoint(large) {
                border-bottom: none;
                border-right: 1px solid var(--darkGray);
                margin-left: rem(30);
                margin-bottom: rem(20);
            }

            p {
                font-size: rem(30);
                font-weight: 700;
                padding-bottom: rem(5);
            }

            span {
                color: var(--darkGray);
            }
        }

        &--days {
            padding: rem(15) rem(15) rem(30) rem(15);

            
            @include breakpoint(large) {
                padding: rem(15);
                flex-grow: 2;
                margin-bottom: rem(20);
                
            }

            p {
                font-size: rem(30);
                font-weight: 700;
                padding-bottom: rem(5);
            }
            span {
                color: var(--darkGray);
            }
        }

        &--style {
            width: 100%;
            background: silver;
            border-radius: rem(50);

            :first-child {
                background-color: var(--moderateCyan);
                border-radius: rem(50);
                width: 80%;

                span {
                    visibility: hidden;
                }
            }

        }
    }

    &__bottom {
        background: white;
        border-radius: rem(5);
        margin-top: rem(20);
        padding: rem(20);
        

        &--about {
            text-align: left;

            h2 {
                padding: rem(20);
                
            }

            p {
                padding: rem(20) 0 rem(20) 0;
                line-height: 1.5;
            }
        }

        &--options {
            width: 100%;
            margin: rem(15) auto;
            padding: rem(20);
            border: 1px solid var(--darkGray);
            border-radius: rem(9);
            text-align: left;

            @include breakpoint(large) {
                display: grid;
                grid-template-areas: 
                "name name name"
                "descript descript descript"
                "amount none button";
                gap: rem(20);
            } 
            .name {

                @include breakpoint(large) {
                    grid-area: name;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }

                h3 {
                    font-weight: 700;
                    padding-bottom: rem(5);
                }
            
                span {
                    color: var(--moderateCyan);
                    font-size: rem(18);
                    font-weight: 500;
                }
            }

            .descript {
                padding-top: rem(15);

                @include breakpoint(large) {
                    grid-area: descript;
                }

                p {
                    
                    line-height: 1.6;
                }
            }

            .amount {
                display: flex;
                justify-content: left;
                align-items: center;

                @include breakpoint(large) {
                    grid-area: amount;
                }

                p {
                    font-size: rem(30);
                    padding: rem(10);
                    font-weight: 700;
                    
                }
                
                span {
                    color: var(--darkGray);
                    font-size: rem(18);
                }
            }


            button {
                border: none;
                background: var(--moderateCyan);
                padding: rem(20);
                color: white;
                font-size: rem(18);
                border-radius: rem(30);
                margin-top: rem(20);
                cursor: pointer;

                
                &:hover {
                    background: var(--darkCyan);
                }

                @include breakpoint(large) {
                    grid-area: button;
                }
            }

            &:last-child {
                opacity: 0.7;

                button {
                    cursor: default;
                    background: var(--darkGray);
                }
            }
        }
    }

    &__support {
        display: none;        
        position: fixed;
        z-index: 1;
        padding-top: rem(70);
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        background: rgba(0, 0, 0, 0.4);

        
        &--modal {
            width: 90%;
            margin: auto;
            padding: rem(20);
            border-radius: rem(10);
            text-align: center;
            background-color: white;

            @include breakpoint(large) {
                width: 40%;
            }

            img {
                max-width: 100%;
                height: auto;
                margin: rem(20);
            }

            h2 {
                font-weight: 700;
                padding: rem(10);
            }

            p {
                font-size: rem(18);
                max-width: 25ch;
                margin-inline: auto;
                margin-block-start: rem(20);
                margin-block-end: rem(40);
            }

            button {
                padding: rem(20);
                width: 60%;
                border: none;
                color: white;
                background-color: var(--moderateCyan);
                font-size: rem(18);
                border-radius: rem(30);


                @include breakpoint(large) {
                    width: 40%;
                    margin: rem(20);
                }
            }
        }
    }
}

button:hover {
    background-color: var(--darkCyan);
}